@import '../../styles/variables';

.container {
    .title {
        font-family: $special-font;
        color: $black;
        margin: 15px;
        font-weight: 400;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}