@import '../../styles/variables';

.container {
    .title {
        font-family: $special-font;
        color: $black;
        margin: 15px;
        font-weight: 400;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 550px) {
    .title {
        font-size: 1em;
    }
}

@media(min-width: 1350px) {
    .container {
        margin: 0 auto;
        width: 75%;
    }
}