@import '../../styles/variables';
 
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: $standard-font;
  font-size: 1em;
  margin-right: 20px;
  p {
    font-size: 1em;
    color: $black;
    font-weight: 600;
    margin-right: 10px;
  }
  .tags_container {
    list-style: none;
    display: flex;
    li {
      background-color: $color-cyan-light;
      color: $black;
      padding: 6px 10px;
      border-radius: 8px;
      cursor: pointer;
      margin: 20px 2px;
      font-size: 0.8em;
      font-weight: 600;
    }
  }
}

@media(max-width: 550px) {
  .container {
    p {
      font-size: 0.5em;
      margin-right: 5px;
    }
    .tags_container {
      li {
        padding: 2px 5px;
        border-radius: 5px;
        font-size: 0.5em;
      }
    }
  }
}