@import '../../styles/GlobalStyles.scss';
 
.tags {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  font-family: var(--standard-font);
  font-size: 16px;
 
  p {
    font-size: 1.25rem;
  }
 
  &__lista {
    list-style: none;
    width: 500px;
    padding: 0;
    display: flex;
    justify-content: space-between;
 
    li {
      background-color: var(--color-blue-inter);
      padding: 6px 10px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
