$color-blue-dark: #010d23;
$color-blue-inter: #03223f;
$color-blue-light: #038bbb;
$color-cyan-light: #1cb0ca;
$color-cyan-inter: #00f7ff;
$white: #FFFFFF;
$black: #000000;
$special-font: 'Shantell Sans', 'cursive';
$standard-font: 'Montserrat', 'sans-serif';
$color-favorite: #970000;
$color-shadow-card: #b1d4eb;


