@import '../../styles/GlobalStyles.css';

.card {
    background-color: var(--color-blue-inter);
    width: 220px;
    height: 290px;
    margin: 5px;
    border: 1px solid var(--color-blue-light);
    border-radius: 21px;
    box-shadow: 5px 5px 5px #b1d4eb;
    transition: .7s;
    img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        cursor: pointer;
    }
    .text_container {
        padding-left: 15px;
        h3 {
            font-size: 16px;
            width: 200px;
            margin-bottom: 8px;
        }
        p {
            padding: 5px;
            font-size: 14px;
            opacity: 80%;
            margin-bottom: 10px;
        }
        .tag {
            display: inline;
            border: 1px solid white;
            border-radius: 10px;
            background-color: rgba($color: #FFFFFF, $alpha: 0.2);
        }
    }
    .icon_container {
        display: flex;
        justify-content: end;
        padding: 0 15px;
        .icon {
            padding-right: 10px;
            cursor: pointer;
        }
        .icon_red {
            padding-right: 10px;
            cursor: pointer;
            fill: red;
        }
    }
    &:hover {
        width: 225px;
    }
}
