@import '../../styles/variables';

.background {
    width: 100%;
    height: 4rem;
    background-color: $color-blue-dark;
    display: flex;
    align-items: center;
    li {
        list-style-type: none;
        padding: 1rem;
        a {
            font-family: $special-font;
            text-decoration: none;
            color: $white;
            font-weight: 400;
            cursor: pointer; 
            transition: .7s;
            &:hover { 
                font-size: 1.1em;
                color: $color-cyan-light;
            }
        }
    }
    img {
        padding-right: 2rem;
        cursor: pointer; 
    }
} 

@media(max-width: 550px) {
    .background {
        height: 2em;
        li {
            list-style-type: none;
            padding: 1rem;
            a {
                font-size: 0.5em;
                &:hover { 
                    font-size: 0.45em;
                }
            }
        }
        img {
            height: 1.5em;
            padding-right: 0.5em;
        }
    } 
  }