@import '../../styles/variables';

.footer {
    background-color: $color-blue-light;
    margin-top: 30px;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    section{
        margin-right: 2rem;
        .icon{
            margin: 0.2rem;
            cursor: pointer; 
        }
    }
    p {
        font-size: 10px;
    }
}