@import '../../styles/variables';

.container {
    position: relative
}

.imagem {
    position: absolute;
}

.titulo {
    font-family: $special-font;
    font-size: 30px;
    text-shadow: 2px 2px $black;
    color: $color-cyan-inter;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 2;
}

.titulo1 {
    font-family: $special-font;
    font-size: 30px;
    text-shadow: 2px 2px $black;
    color: $color-cyan-inter;
    position: absolute;
    left: 100px;
    top: 140px;
    z-index: 2;
}

@media(max-width: 550px) {
    .titulo {
        font-size: 1em;
        left: 50px;
        top: 40px;
    }
    
    .titulo1 {
        font-size: 1em;
        left: 50px;
        top: 60px;
    }
}